<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=800, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <title>Meu Blog</title>
</head>
<body>
  <div class="pagina">
    <div class="cabecalho">
      <ul class="menu">
        <li> <a href="/">Home</a> </li>
        <li> <a href="/novo">Novo</a> </li>
      </ul>
    </div>
    {% block conteudo %}
    {% endblock %}
  </div>
</body>
</html>